<div class="container">
		<div class="radio">
      		<label><input type="radio" name="optradio">Automatic</label>
   		</div>
    	<div class="radio">
      		<label><input type="radio" name="optradio">Manual</label>
    	</div>
    	<div class="row">
    	<div class="card" style="width: 18rem;">
  			<div class="row">
  				<div class="col-md-4">
  					<div id="file1" class="btn-group-vertical" data-toggle="buttons" >
  						<div>
  							<label>
        						<input type="radio" name="option1"  id="l" />Red
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Green
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Yellow
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Off
    						</label>
    					</div>
   					</div>
				</div>
				<div class="col-md-4">
  					<div id="file2" class="btn-group-vertical" data-toggle="buttons" >
  						<div>
  							<label>
        						<input type="radio" name="option1"  id="l" />Red
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Green
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Yellow
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Off
    						</label>
    					</div>
   					</div>
				</div>
				<div class="col-md-4">
  					<div id="file3" class="btn-group-vertical" data-toggle="buttons" >
  						<div>
  							<label>
        						<input type="radio" name="option1"  id="l" />Red
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Green
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Yellow
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Off
    						</label>
    					</div>
   					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
		<div class="card" style="width: 18rem;">
  			<div class="row">
  				<div class="col-md-4">
  					<div id="file1" class="btn-group-vertical" data-toggle="buttons" >
  						<div>
  							<label>
        						<input type="radio" name="option1"  id="l" />Red
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Green
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Yellow
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Off
    						</label>
    					</div>
   					</div>
				</div>
				<div class="col-md-4">
  					<div id="file2" class="btn-group-vertical" data-toggle="buttons" >
  						<div>
  							<label>
        						<input type="radio" name="option1"  id="l" />Red
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Green
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Yellow
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Off
    						</label>
    					</div>
   					</div>
				</div>
				<div class="col-md-4">
  					<div id="file3" class="btn-group-vertical" data-toggle="buttons" >
  						<div>
  							<label>
        						<input type="radio" name="option1"  id="l" />Red
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Green
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Yellow
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Off
    						</label>
    					</div>
   					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
    	<div class="card" style="width: 18rem;">
  			<div class="row">
  				<div class="col-md-4">
  					<div id="file1" class="btn-group-vertical" data-toggle="buttons" >
  						<div>
  							<label>
        						<input type="radio" name="option1"  id="l" />Red
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Green
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Yellow
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Off
    						</label>
    					</div>
   					</div>
				</div>
				<div class="col-md-4">
  					<div id="file2" class="btn-group-vertical" data-toggle="buttons" >
  						<div>
  							<label>
        						<input type="radio" name="option1"  id="l" />Red
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Green
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Yellow
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Off
    						</label>
    					</div>
   					</div>
				</div>
				<div class="col-md-4">
  					<div id="file3" class="btn-group-vertical" data-toggle="buttons" >
  						<div>
  							<label>
        						<input type="radio" name="option1"  id="l" />Red
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Green
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Yellow
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Off
    						</label>
    					</div>
   					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2"></div>
		<div class="card" style="width: 18rem;">
  			<div class="row">
  				<div class="col-md-4">
  					<div id="file1" class="btn-group-vertical" data-toggle="buttons" >
  						<div>
  							<label>
        						<input type="radio" name="option1"  id="l" />Red
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Green
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Yellow
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Off
    						</label>
    					</div>
   					</div>
				</div>
				<div class="col-md-4">
  					<div id="file2" class="btn-group-vertical" data-toggle="buttons" >
  						<div>
  							<label>
        						<input type="radio" name="option1"  id="l" />Red
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Green
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Yellow
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Off
    						</label>
    					</div>
   					</div>
				</div>
				<div class="col-md-4">
  					<div id="file3" class="btn-group-vertical" data-toggle="buttons" >
  						<div>
  							<label>
        						<input type="radio" name="option1"  id="l" />Red
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Green
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Yellow
    						</label>
    					</div>
    					<div>
    						<label>
        						<input type="radio" name="option1" />Off
    						</label>
    					</div>
   					</div>
				</div>
			</div>
		</div>
	</div>
</div>
