<div class="container">
  <h2>Login History</h2>

  <table class="table table-striped">
    <thead>
      <tr class="table-active">
        <th>User</th>
        <th>Email</th>
        <th>Session id</th>

        <th>Last Login Time</th>
        <th>Logout Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>john@example.com</td>
        <td>5644</td>
        <td>2017/12/31 21:31</td>
        <td> 2017/12/31 21:38</td>

      </tr>

    </tbody>
  </table>
</div>
