<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Junction</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

</head>
<body>
<div class="content" id="v-pills-tabContent"style="border-radius:3%;background-color: #e6e6e6" ng-app="MainApp">
    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab" style="padding: 50px" ng-controller="App-controller-junction">
        <div class="container-fluid" id="input-coords" style="padding: 0px">
            <ul style="list-style: none; margin: 0px;padding: 30px">
                <li style="padding: 10px"><input type="text" class="form-control" placeholder="Junction ID"  id="junction_id" ng-model="" value=""></li>
                <li style="padding: 10px"><input type="text" class="form-control" placeholder="Junction Name"  id="Junction_name" ng-model=""></li>
                <li style="padding: 10px"><input type="text" class="form-control" placeholder="Lane ID"  id="lane_id" ng-model=""></li>
                <li style="padding: 10px"><input type="text" class="form-control" placeholder="Lane Direction"  id="lane_direction" ng-model=""></li>
                <li style="padding: 10px">
                    <button type="submit" class="btn btn-info" ng-click="" id="register">Add Junction</button>
                    <button type="reset" class="btn btn-info" ng-click="" id="reset">Reset</button>
                </li>
            </ul>

        </div>
    </div>
</div>
<script type="text/javascript" src="./angular-1.2.28/angular.min.js"></script>
<script type="text/javascript" src="./javascripts/Admin.app.js"></script>
<script type="text/javascript" src="javascripts/Admin.app.controller.junction.js"></script>
</body>
</html>