<div id="sidebar" class="side-nav">
  <a id="brand">
    <img src="../../../../assets/img/stls_logo.svg">
    <h1>STLS</h1>
  </a>

  <div class="side-nav-option">
    <a class="side-nav-option-title">
      <div>
        <img src="../../../../assets/img/home_blue.svg">
        <span>Junction Overview</span>
      </div>
    </a>
    <a class="side-nav-option-button">
      <i class="fa fa-cog"></i>
      <i class="fa fa-caret-right"></i>
    </a>
  </div>

  <div id="accordion" role="tablist">
    <div class="card">
      <a id="headingOne" class="card-header" data-toggle="collapse" href="#collapseJunction" role="button" aria-expanded="true" aria-controls="collapseOne">
        <span>JUNCTION</span>
        <p>Manage, Monitor and Control the junction related functions</p>
      </a>

      <div id="collapseJunction" class="collapse" role="tabpanel" aria-labelledby="collapseJunction" data-parent="#accordion">
        <div class="card-body">
          xxx
        </div>
      </div>
    </div>

    <!--<div class="card">-->
      <!--<div class="card-header" role="tab" id="headingTwo">-->
          <!--<a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">-->
            <!--Collapsible Group Item #2-->
          <!--</a>-->
      <!--</div>-->
      <!--<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">-->
        <!--<div class="card-body">-->
          <!--yyy-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
