<div id="sidebar" class="side-nav">
  <a id="brand">
    <img src="../../../../assets/img/stls_logo.svg">
    <h1>STLS</h1>
  </a>

  <div class="side-nav-option">
    <a class="side-nav-option-title">
      <div>
        <i class="zmdi zmdi-home"></i>
        <span>Junction Overview</span>
      </div>
    </a>
    <a class="side-nav-option-button">
      <i class="fa fa-cog"></i>
      <i class="fa fa-caret-right"></i>
    </a>
  </div>

  <div id="accordion" role="tablist">
    <div class="card">
      <a id="headingJunction" class="card-header collapsed" data-toggle="collapse" href="#collapseJunction" role="button" aria-expanded="false" aria-controls="collapseJunction">
        <span>JUNCTION<i class="fa fa-chevron-down"></i></span>
        <p>Manage, Monitor and Control the junction related functions</p>
      </a>

      <div id="collapseJunction" class="collapse" role="tabpanel" aria-labelledby="collapseJunction" data-parent="#accordion">
        <div class="card-body">
          <a class="card-body-item">
            <div>
              <i class="zmdi zmdi-traffic zmdi-hc-fw"></i>
              <span>Control Functions</span>
            </div>
          </a>
          <a class="card-body-item">
            <div>
              <i class="zmdi zmdi-camera-party-mode zmdi-hc-fw"></i>
              <span>Video Feed</span>
            </div>
          </a>
          <a class="card-body-item">
            <div>
              <i class="zmdi zmdi-settings-square zmdi-hc-fw"></i>
              <span>Junction Profile</span>
            </div>
          </a>
          <a class="card-body-item">
            <div>
              <i class="zmdi zmdi-car zmdi-hc-fw"></i>
              <span>Simulator</span>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!--<div class="card">-->
      <!--<div class="card-header" role="tab" id="headingTwo">-->
          <!--<a class="collapsed" data-toggle="collapse" href="#collapseTwo" role="button" aria-expanded="false" aria-controls="collapseTwo">-->
            <!--Collapsible Group Item #2-->
          <!--</a>-->
      <!--</div>-->
      <!--<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">-->
        <!--<div class="card-body">-->
          <!--yyy-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
