@import "partials/sidebar";
@import "partials/header";

//Avoid the elastic animation in Safari
html, body {
  height: 100%;
  overflow: hidden;

  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
}

