.fluid-container {
  margin: 5%;

  text-align: center;

  .control-mode {
    .form-check.form-check-inline {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .controls {
    margin-top: 20px;

    .road-control {
      display: inline-block;
      border: 1px solid;
      margin: 20px;
      padding: 10px;

      h4 {
        display: block;

        width: 100%;
      }

      .road-control-lanes {
        div {
          h5 {
            display: inline-block;

            margin: 0 20px 0 0;
          }

          .road-control-lane-lights {
            display: inline-block;

            input {
              margin: 0 10px 0 0;
            }
          }
        }
      }
    }
  }
}
