<div class="container" style="margin-top: 10%">
    <form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="From">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="To">
    </div>
  </div>
</form><br>
<button type="button" class="btn btn-primary" style="float: right;">Filter</button><br><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Role</th>
      <th scope="col">Login</th>
      <th scope="col">Logout</th>
      <th scope="col">Duration</th>
    </tr>
  </thead>
  <tbody>
   <tr>
    <td>Oshan</td>
    <td>Admin</td>
    <td>2018.05.21 07:00</td>
    <td>2018.05.21 07:15</td>
    <td>15 min</td>
   </tr>
    <tr>
    <td>Sachini</td>
    <td>Admin</td>
    <td>2018.05.21 06:00</td>
    <td>2018.05.21 06:30</td>
    <td>30 min</td>
   </tr>
  </tbody>
</table>
  </div>
  